@charset "UTF-8";

*{margin:0; padding:0; vertical-align:middle;box-sizing:border-box;  }
html, body {width:100%; max-width:450px; margin:0 auto; height:auto; display: block; }
html{ overflow-y:scroll; background: #FFFFFF; }
body{ width:100%;height: unset; font:14px/1  "Pretendard Variable", 'Pretendard', '-apple-system', 'BlinkMacSystemFont', 'system-ui', 'Roboto', "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif; color:#000;}
i,em,address{font-style:normal;}
h1,h2,h3,h4,h5,h6{ font-size:14px; font-weight:400; padding:0; margin:0; }
a{color:#000; text-decoration:none; }
a:hover{color:#000; text-decoration:none; }
p{margin: 0; padding: 0;}
ul,ol {list-style:none; text-decoration:none; }
span { text-decoration:none; }
.clearfix:after{content:''; display:block; clear:both;}
.hid{display:none;}
.blind{display:block;overflow:hidden;text-indent:-10000px;}




