@charset "UTF-8";
@import url(./reset.css);



@media all and (max-width:1020px){


    #main .section .secWrap .gap {  padding:40px 80px;} 
    #main #section1 .secWrap .gap {  padding:100px 80px 40px 80px;} /* 섹션1 패딩*/
    table tr td { font-size: 15px; padding: 10px;}

}
@media all and (max-width:1000px){
   /*  테이블 */
    table .tr1> td { font-size: 20px; }
    table .tr1> td>.num { font-size: 13px; margin-bottom: 3px; padding:3px 0;  width:18px; height: 18px; }
    


}
@media all and (max-width:989px){


        /* felx 풀어주기 */
        #main .section .secWrap .gap .con .contentsWrap { width: 100%; display: inline-block; text-align: center; } 
        #main .section .secWrap .gap .con .contentsWrap .conL {width: 100%; padding:0 20px; }
        #main .section .secWrap .gap .con .contentsWrap .conR {width: 100%; padding-top: 50px; }

  


}
@media all and (max-width:800px){


    #main .section .secWrap .gap { width: 100%; padding:30px 0;} 
    #main #section1 .secWrap .gap { width: 100%; padding:80px 0 30px 0;} /* 섹션1 패딩*/
    #main .section .secWrap .gap .con .titleCon {text-align: center; width: 100%;}
    #main .section .secWrap .gap .con .titleCon h2 { padding-bottom:40px; }
    #main .section .secWrap .gap .con .titleCon .subTit {  font-size: 25px;}
    #main .section .secWrap .gap .con .titleCon .subTit .tNum{ font-size: 15px; margin-bottom: 5px;  padding: 4px 0; width:22px; height: 22px; }
    #main .section .secWrap .gap .con .titleCon h4 {font-size: 15px; font-weight: 500;padding: 8px 0 ; line-height: 130%;}
    #main .section .secWrap .gap .con .titleCon h5 {color: #636363; font-size: 14px; }


    /* title */
    #main .section .secWrap .gap .con .titleCon h2 {   font-size:35px; } 
    #main .section .secWrap .gap .con .titleCon h2 .colorBox {padding: 0 5px; }



    /*  테이블 */
    table { margin-top:25px; height:100%; }   

       
    table .tr2> td { font-size: 16px;}
    table tr td { font-size: 15px; padding: 10px;}
    table tr .bold {font-size: 15px;}



}
@media all and (max-width:680px){
    
 

    

}
@media all and (max-width:500px){	
    /* title */
    #main .section .secWrap .gap .con .titleCon h2 {   font-size:30px; } 
    #main .section .secWrap .gap .con .titleCon h2 .colorBox {padding: 0 5px; }

    #main .section .secWrap .gap .con .titleCon .subTit {  font-size: 20px;}
    #main .section .secWrap .gap .con .titleCon .subTit .tNum{ font-size: 11px; margin-bottom: 5px;  padding: 4px 0;  width:18px; height: 18px; }
    #main .section .secWrap .gap .con .titleCon h4 {font-size: 13px; padding: 8px 0; line-height: 140%; }
    #main .section .secWrap .gap .con .titleCon h5 {color: #636363; font-size: 12px; }

   /*  테이블 */
    table .tr1> td { font-size: 17px; }
    table .tr1> td>.num { font-size: 12px; margin-bottom: 3px; padding:2px 0;  width:16px; height: 16px; }
    table .tr2> td { font-size: 14px;}
    table tr td { font-size: 13px; padding: 10px;}
    table tr .bold {font-size: 14px;}

}
@media all and (max-width:400px){
    #main #section1 .secWrap .gap { width: 100%; padding:60px 0 30px 0;} /* 섹션1 패딩*/
       /* title */
       #main .section .secWrap .gap .con .titleCon h2 {   font-size:25px; } 
   
       #main .section .secWrap .gap .con .titleCon .subTit {  font-size: 18px;}
       #main .section .secWrap .gap .con .titleCon .subTit .tNum{ font-size: 11px; margin-bottom: 3px;  padding: 2px 0;  width:15px; height: 15px; }


     /*  테이블 */
    table .tr1> td { font-size: 15px; }
    table .tr1> td>.num { font-size: 11px; margin-bottom: 2px; padding:2px 0;  width:14px; height: 14px; }
  
}
@media all and (max-width:350px){	

}